@model List<FileDisplayViewModel>

@{
    ViewData["Title"] = "All Uploaded Files";
}

<table class="table table-bordered">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Uploader</th>
                <th>Uploaded At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model)
            {
                <tr>
                    <td>@file.FileName</td>
                    <td>@file.UploaderName</td>
                    <td>@file.UploadedAt.ToString("g")</td>
                    <td>
                        @if (file.Downloadable)
                        {
                            <a asp-controller="File" asp-action="Download" asp-route-id="@file.FileId" class="btn btn-primary">Download</a>
                        }
                        else
                        {
                            <span class="text-danger">No permission to decrypt and download</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
