@{
    ViewData["Title"] = "Admin Page";
}
@model AdminRegisterViewMode
<h2>Register New User <i class='fas fa-portrait' style='font-size:16px'></i></h2>
<!-- implement the location -->
<form asp-action="Register" method="post" enctype="multipart/form-data">
    <label style="">First Name <input type="text" style="margin-left: 5px; width=10px;" name="first_name" required/></label>
    <br/><br/>
    <label style="">Last Name <input type="text"  style="margin-left: 6px; width=10px;" name="last_name" required/></label>
    <br/><br/>
    <label style="">Email <input type="text" name="email" style="margin-left: 38px; width=10px;"  required/></label>
    <br/><br/>
    <button type="submit">Add User</button>
</form>

@if (ViewBag.Message != null){
    <div class="alert alert-success">@ViewBag.Message</div>
}