@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Cloud Storage Application </h1>
    <p>A secure cloud storage application for Dropbox <i class="fa-brands fa-dropbox" style="font-size:16px; color:blue;"></i>, Google
Drive <i class="fa-brands fa-google-drive" style="font-size:16px; color:greens;"></i>, Office365 <i class="fa-brands fa-microsoft" style="font-size:16px; color:red;"></i>.</p>
</div>
