@{
    ViewData["Title"] = "Upload Files";
}
@model EncryptedFileViewModel

<form asp-action="Upload" method="post" enctype="multipart/form-data">
    <label style="">Browse File From Your Computer:</label>
    <input type="file" name="File" required />
    <label>Recipients (comma separated emails):</label>
    <input type="text" name="RecipientEmails" required style="display: ;"/>
    <button type="submit">Upload & Encrypt</button>
</form>

@if (ViewBag.Message != null)
{
    <div class="alert alert-info mt-3">@ViewBag.Message</div>
}